body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: LightGray;
  height: 1px;
  width: 5%;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-width: 1.5ex;
}
